<h1>Pictures</h1>
<%= link_to 'sign up', new_user_path %> | <%= link_to 'log in', new_session_path %>
<br>
<%= link_to 'new picture', new_picture_path %>

<div>
  <h2>Most Recent Pictures</h2>
  <% @most_recent_five.each do |picture|  %>
    <p><%= picture.title %>, <%= picture.artist %> </p>
    <%= link_to image_tag(picture.url), picture_path(picture)%>
  <% end %>
</div>
<div>
  <h2>Pictures From Last Month</h2>
  <% @created_before.each do |picture|  %>
    <p><%= picture.title %>, <%= picture.artist %> </p>
    <%= link_to image_tag(picture.url), picture_path(picture)%>
  <% end %>
</div>
